<div class="container">
  <div class="row" style="padding: 10px; margin-bottom: 40px">
    <div class="col-11" style="margin: auto">


      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarColor03">

          <ul class="navbar-nav mr-auto">
            <li>
              <h4 style="margin-right: 10px; color:rgb(108, 131, 112)">My Todo List Practice app!</h4>
            </li>
            <li class="nav-item active">
              <a *ngIf="auth.isUserLogedIn()" class="nav-link" routerLink="/welcome/dex" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a *ngIf="auth.isUserLogedIn()" class="nav-link" routerLink="/todos" href="#">Todo's !</a>
            </li>
            <!--<li class="nav-item">
              <a *ngIf="auth.isUserLogedIn()" (click)="addTodo()" class="nav-link" href="#">Add New Todo</a>
            </li>-->
          </ul>




          <ul>
              <a *ngIf="!auth.isUserLogedIn()" class="badge badge-pill badge-secondary" routerLink="/login" href="#" >Log-In</a>
              <a *ngIf="auth.isUserLogedIn()" class="badge badge-pill badge-warning" routerLink="/logout" href="#" style="margin-top:10px;">Log-Out</a>
          </ul>

        </div>
      </nav>

    </div>
  </div>
</div>
