<div class="container">

  <div class="col-sm-4" style="margin: auto">

    <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
      <fieldset>
        <legend>Create or Update Todos!</legend>



        <h3 *ngIf="description.invalid && todoForm.dirty" style="color: red;">Please describe your todo!</h3>
        <h3 *ngIf="targetDate.invalid && todoForm.dirty" style="color: red;">Please select a target date!</h3>


        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" [(ngModel)]="todo.description" name="description"
            #description="ngModel" required>
        </div>
        <div class="form-group">
          <label>Deadline</label>
          <input type="date" class="form-control" [ngModel]="todo.targetDate | date:'yyyy-MM-dd' "
            (ngModelChange)="todo.targetDate=$event" #targetDate="ngModel" name="targetDate" required>
        </div>


        <button type="submit" class="btn btn-primary">Save!</button>
      </fieldset>
    </form>
  </div>
</div>
